/* styles.css */

/* div: a red background, white text, a font size of 32px, center aligned, and bold*/
div {
    /* 3. Typography */
    font-size: 32px;
    font-weight: bold;
    text-align: center;

    /* 4. Visual */
    background-color: red;
    color: white
}